/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  
  /*========== Colors ==========*/
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(14, 100%, 50%);
  --orange-light: hsl(14, 100%, 70%);
  
  --title-color: var(--orange);
  --text-color: var(--white);
  --body-color: var(--balck);
  --container-color: var(--orange-light);

  /*========== Font and typography ==========*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*========== Responsive typography==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--orange);
}

a:hover {
  color: var(--orange-light);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: auto; /* Center align */
  padding: 0 1rem;
}

.grid {
  display: grid;
  gap: 2rem; /* Increased gap for better spacing */
}

.section {
  padding: 5rem 1.5rem; /* Adjusted padding */
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 2.5rem; /* Increased margin for spacing */
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  background-color: var(--black);
  padding: 1rem;
}

.header nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Space between nav items */
}

/*=============== FOOTER ===============*/
.footer {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--black);
  color: var(--white);
/*===============Logo ===============*/
  .logo {
    width: 40px; /* 根据需要调整宽度 */
    height: auto; /* 保持比例 */
    margin-right: 10px; /* 与文本之间的间距 */
    vertical-align: middle; /* 垂直对齐 */
}
